.footer {
  height: 50px;
  width: max-content;
  padding: 1rem;
  margin: 0 auto;
  font-family: 'Poppins';
}

.footer span {
  color: var(--primary);
}

p {
  width: max-content;
  margin: 5px auto;
}
