.movie-container {
  color: white;
  background-color: var(--black);
  font-family: 'Poppins';
  position: relative;
  width: 185px;
  margin: 0 10px 10px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  transition: box-shadow 0.2s ease-in-out;
}

.movie-container:hover {
  box-shadow: 0px 0px 25px rgba(255, 255, 255, 0.2);
}

.movie-container img {
  border-radius: 10px;
  width: 100%;
}

.movie-container > img {
  min-height: 250px;
}

.movie-container h4 {
  margin: 0 0.5rem 0.5rem;
}

.movie-container .rating {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 3px;
  width: 50px;
  border-radius: 0 500px 500px 0;
  border: 3px solid var(--primary);
  display: flex;
  align-items: center;
  position: absolute;
  top: 30px;
  left: -4px;
}

.movie-container .star {
  height: 14px;
  width: 20px;
}

.movie-container span {
  padding: 0 2px;
  font-family: 'Montserrat';
  font-size: 1.1rem;
  font-weight: 700;
}
