.nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 3rem;
  padding: 2rem;
}

.nav .logo {
  position: relative;
}

.nav .logo .bg-title {
  position: absolute;
  left: 14px;
  right: 11px;
  top: 14px;
  bottom: 21px;
  background: #0e3fa9;
  transform: rotate(-10deg);
}

.nav .logo h2 {
  font-size: 12px;
  font-family: 'Poppins';
  color: #ffa903;
  transform: rotate(-10deg);
  position: absolute;
  top: 12px;
  left: 16px;
  z-index: 5;
}

.nav .sub-menu {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.nav .sub-menu a {
  font-family: 'Montserrat';
  font-size: 1.1rem;
  font-weight: bold;
  padding: 0.3rem 0;
  color: var(--white);
  border-bottom: 3px solid transparent;
  text-decoration: none;
  white-space: nowrap;
  transition: color 0.3s ease, border-bottom 0.2s ease;
}

.nav .sub-menu a:hover,
.nav .sub-menu a.active-link {
  color: var(--primary);
  border-bottom: 3px solid var(--primary);
}

.nav .form {
  display: flex;
  align-items: center;
  margin-left: auto;
  width: 350px;
}

.nav .form input {
  font-family: 'Montserrat';
  font-size: 16px;
  padding: 10px;
  height: 44px;
  width: 100%;
  min-width: 145px;
  border: 1px solid var(--primary);
  border-radius: 8px 0 0 8px;
}

.nav .form input::placeholder {
  color: var(--grey);
}

.nav .form input:focus {
  outline: none;
  color: var(--black);
}

.nav .form .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary);
  height: 44px;
  border: none;
  border-radius: 0 4px 4px 0;
  padding: 10px 24px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.nav .form .btn:hover {
  background-color: rgba(254, 217, 65, 0.9);
}

.nav .form .btn img {
  height: 20px;
  width: 20px;
}

@media screen and (max-width: 768px) {
  .nav {
    flex-direction: column;
    gap: 0;
    font-size: 14px;
  }
  .nav .form {
    margin: 0;
  }
  .nav .form input,
  .nav .form .btn {
    height: 35px;
  }
  .nav .form .btn {
    padding: 8px 18px;
  }
  .nav .form .btn img {
    height: 18px;
    width: 18px;
  }
}
