.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 40px 40px;
}

.nav a {
  font-family: 'Montserrat';
  color: var(--white);
  text-decoration: none;
}

.logo {
  position: relative;
}

.logo .bg-title {
  position: absolute;
  left: 14px;
  right: 11px;
  top: 14px;
  bottom: 21px;
  background: #0e3fa9;
  transform: rotate(-10deg);
}

.logo h2 {
  font-size: 12px;
  font-family: 'Poppins';
  color: #ffa903;
  transform: rotate(-10deg);
  position: absolute;
  top: 12px;
  left: 16px;
  z-index: 5;
}

.sub-menu {
  display: flex;
  margin: 0 20px;
}

.sub-menu a.active-link {
  padding-bottom: 5px;
  color: var(--primary);
  border-bottom: 3px solid var(--primary);
}

.sub-menu a:hover {
  color: var(--primary);
  border-bottom: 3px solid var(--primary);
  padding-bottom: 5px;
}

.sub-menu h3 {
  padding: 0 20px;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form input {
  border: none;
  font-family: 'Montserrat';
  font-size: 16px;
  padding: 10px;
  height: 22px;
  width: 350px;
  border: 1px solid var(--primary);
  border-radius: 8px 0 0 8px;
}

.form input::placeholder {
  color: var(--grey);
}

.form input:focus {
  outline: none;
  color: var(--black);
}

.form .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary);
  width: 72px;
  height: 44px;
  border: none;
  border-radius: 0 4px 4px 0;
  padding: 10px 24px;
  cursor: pointer;
}

.form .btn img {
  height: 20px;
  width: 20px;
}
