.movie-details {
  width: inherit;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 10px;
  display: flex;
  font-family: 'Poppins';
}

.details {
  padding: 0 30px 0 50px;
}

.details h1 {
  margin: 20px 0;
  font-family: 'Montserrat';
  font-weight: 800;
}

.details > p {
  width: 100%;
  margin: 50px 0;
  text-align: justify;
}

.others {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.others p {
  margin: 0;
  font-weight: 700;
}

.others span {
  font-family: 'Montserrat';
  font-weight: 500;
}

.others .genres {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.genres .genre {
  background-color: darkslateblue;
  padding: 3px 10px;
  border-radius: 500px;
}
