.slider-container {
  padding-bottom: 30%;
  margin: 0 10px 50px;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.slider-container .banner {
  height: inherit;
  width: 100%;
  object-fit: cover;
  object-position: center;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: 0;
  opacity: 0;
  transition: all 1s ease;
}

.slider-container .btn-container {
  position: absolute;
  left: 0px;
  bottom: 0px;
  display: flex;
  gap: 1em;
  margin: 2em;
}

.btn-container .slider-btn {
  background-color: var(--primary);
  color: var(--black);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  padding: 1em 1.5em;
  border: 1px solid var(--primary);
  border-radius: 4px;
  cursor: pointer;
}

.btn-container .slider-btn img {
  height: 18px;
}

.btn-container .slider-btn a {
  color: var(--black);
  background-color: var(--primary);
  font-family: 'Montserrat';
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
}

.btn-container .later,
.btn-container .later a {
  color: var(--primary);
  background-color: var(--black);
}

.banner.activeSlide {
  opacity: 1;
  transform: translate(0, -50%);
}

.banner.nextSlide {
  opacity: 0;
  transform: translate(110%, -50%);
}

.banner.prevSlide {
  opacity: 0;
  transform: translate(-110%, -50%);
}

@media screen and (max-width: 768px) {
  .slider-container {
    padding-bottom: 50%;
  }
  .slider-container .btn-container {
    gap: 2em;
  }
  .btn-container .slider-btn {
    padding: 0.3em 1em;
  }
  .btn-container .slider-btn img {
    width: 8px;
    margin-right: 10px;
  }
  .btn-container a {
    font-size: 12px;
  }
}

/* indicators */

.ind-container {
  background-color: rgba(211, 211, 211, 0.15);
  width: max-content;
  margin: 0 auto;
  border-radius: 500px;
  padding: 0 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-30px);
}

.indicator {
  background-color: var(--grey);
  width: 7px;
  height: 7px;
  border-radius: 50%;
  margin: 3px;
  transition: all 0.4s ease;
  cursor: pointer;
}

.indicator:hover {
  background-color: var(--white);
}

.indicator.active {
  background-color: var(--white);
  border-radius: 500px;
  width: 12px;
}
