.slider-container {
  padding-bottom: 30%;
  margin: 0 10px 50px;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.slider-container .banner {
  height: inherit;
  width: 100%;
  object-fit: cover;
  object-position: center;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: all 1s ease;
}

.slider-container .btn-container {
  position: absolute;
  left: 0px;
  bottom: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4em;
  margin: 2em;
}

.btn-container .now,
.btn-container .later {
  padding: 0.6em 1.5em;
  border: 1px solid var(--primary);
  cursor: pointer;
}

.btn-container .now,
.btn-container .now a {
  color: var(--black);
  background-color: var(--primary);
}

.btn-container .now img,
.btn-container .later img {
  width: 11px;
  margin-right: 20px;
}

.btn-container .later,
.btn-container .later a {
  color: var(--primary);
  background-color: var(--black);
}

.btn-container a {
  font-family: 'Montserrat';
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 2em;
}

.banner.activeSlide {
  opacity: 1;
  transform: translateX(0);
}

.banner.nextSlide {
  opacity: 0;
  transform: translateX(110%);
}

.banner.prevSlide {
  opacity: 0;
  transform: translateX(-110%);
}

@media screen and (max-width: 768px) {
  .slider-container {
    padding-bottom: 50%;
  }
  .slider-container .btn-container {
    gap: 2em;
  }
  .btn-container .now,
  .btn-container .later {
    padding: 0.3em 1em;
  }
  .btn-container .now img,
  .btn-container .later img {
    width: 8px;
    margin-right: 10px;
  }
  .btn-container a {
    font-size: 12px;
  }
}

/* indicators */

.ind-container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-30px);
}

.indicator {
  background-color: var(--grey);
  width: 7px;
  height: 7px;
  border-radius: 50%;
  margin: 3px;
  transition: all 0.4s ease;
  cursor: pointer;
}

.indicator:hover {
  background-color: var(--white);
}

.indicator.active {
  background-color: var(--white);
  border-radius: 500px;
  width: 12px;
}
