.errorContainer {
  width: max-content;
  font-size: 40px;
  font-family: 'Montserrat';
  font-weight: bold;
  text-align: center;
  margin: 150px auto;
}

.errorContainer span {
  display: block;
  margin-top: 20px;
}

/* ====================== */
/* for upto small screens */
/* ====================== */

@media (max-width: 640px) {
  .errorContainer {
    font-size: 26px;
  }
}
