.footer {
  width: max-content;
  font-family: 'Poppins';
  font-weight: 700;
  margin: 20px auto;
}

.footer span {
  color: var(--primary);
}

.footer p {
  width: max-content;
  margin: 0px auto;
}

.footer a {
  color: var(--primary);
}

/* ====================== */
/* for upto small screens */
/* ====================== */

@media (max-width: 640px) {
  .footer {
    font-size: 14px;
  }
}
