.footer {
  width: max-content;
  font-family: 'Poppins';
  font-weight: 700;
  margin: 30px auto;
}

.footer span {
  color: var(--primary);
}

.footer p {
  width: max-content;
  margin: 5px auto;
}
