.footer {
  width: max-content;
  font-family: 'Poppins';
  font-weight: 700;
  margin: 0 auto 20px;
}

.footer span {
  color: var(--primary);
}

.footer p {
  width: max-content;
  margin: 0px auto;
}
