.loading {
  width: max-content;
  font-size: 40px;
  font-family: 'Montserrat';
  font-weight: bold;
  text-align: center;
  margin: 50px auto;
  padding: 10px;
}

.loading span {
  display: block;
  margin-top: 10px;
}

/* ===================== */
/* for upto small screns */
/* ===================== */

@media (max-width: 640px) {
  .loading {
    font-size: 26px;
  }
}
