.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.titleContainer {
  font-family: 'Montserrat';
  display: flex;
  align-items: center;
  white-space: nowrap;
  margin: 10px 10px 20px;
}

.pageTitle {
  font-size: 32px;
}

.line {
  height: 2px;
  width: 100%;
  background-color: rgb(152, 152, 152);
  margin: 0 10px;
}

.pageNumber {
  font-size: 24px;
}

.movieContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 40px 20px;
}

.btnContainer {
  width: max-content;
  margin: 40px auto 0;
  display: flex;
  gap: 10px;
}

.btnContainer .btn {
  font-family: 'Montserrat';
  font-weight: 600;
  background-color: var(--primary);
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btnContainer .btn:disabled {
  cursor: not-allowed;
}

.btnContainer .btn:enabled:hover {
  background-color: rgba(254, 217, 65, 0.8);
}

.noResults {
  font-size: 1.5em;
  font-family: 'Montserrat';
  font-weight: 600;
  text-align: center;
  margin: 20px auto;
}
