.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 1em;
}

.btnContainer {
  max-width: max-content;
  margin: 20px auto;
  display: flex;
  gap: 10px;
}

.btnContainer .btn {
  font-family: 'Montserrat';
  font-weight: 600;
  background-color: var(--primary);
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btnContainer .btn:disabled {
  cursor: not-allowed;
}

.btnContainer .btn:hover:enabled {
  background-color: rgba(254, 217, 65, 0.8);
}

.noResults {
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 1.5em;
  text-align: center;
  margin: 20px auto;
}
