.nav {
  display: flex;
  align-items: center;
  margin: 32px 0;
}

.logo {
  position: relative;
  margin: 0 32px;
}

.logo h2 {
  position: absolute;
  left: 14px;
  top: 23px;
  font-size: 12px;
  font-family: 'Poppins';
  color: #ffa903;
  background: #0e3fa9;
  padding: 0 2px;
  transform: rotate(-10deg);
  z-index: 5;
}

.subMenu {
  display: flex;
  align-items: center;
}

.subMenu li {
  list-style-type: none;
  padding: 0 12px;
}

.subMenu .navLinks {
  font-size: 18px;
  font-family: 'Montserrat';
  font-weight: bold;
  padding: 1px 0;
  color: var(--white);
  border-bottom: 3px solid transparent;
  text-decoration: none;
  white-space: nowrap;
  transition: color 0.3s ease, border-bottom 0.2s ease;
}

.subMenu .navLinks:hover,
.subMenu .navLinks.activeLink {
  color: var(--primary);
  border-bottom: 2px solid var(--primary);
}

.form {
  width: 400px;
  display: flex;
  align-items: center;
  margin-left: auto;
  padding: 0 32px;
}

.form .searchField {
  height: 44px;
  width: 100%;
  min-width: 145px;
  font-size: 16px;
  font-family: 'Montserrat';
  padding: 10px;
  border: 1px solid var(--primary);
  border-radius: 8px 0 0 8px;
}

.form .searchField::placeholder {
  color: var(--grey);
}

.form .searchField:focus {
  outline: none;
}

.form .btn {
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary);
  border: none;
  border-radius: 0 4px 4px 0;
  padding: 10px 24px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.form .btn:hover {
  background-color: rgba(254, 217, 65, 0.9);
}

.form .btn img {
  height: 20px;
  width: 20px;
}

@media screen and (max-width: 768px) {
  .nav {
    flex-direction: column;
    gap: 0;
    font-size: 14px;
  }
  .form {
    margin: 0;
  }
  .form .searchField,
  .form .btn {
    height: 35px;
  }
  .form .btn {
    padding: 8px 18px;
  }
  .form .btn img {
    height: 18px;
    width: 18px;
  }
}
