.sliderContainer {
  height: 300px;
  max-width: 100%;
  border-radius: 10px;
  margin: 0 10px;
  position: relative;
  overflow: hidden;
}

.banner {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 10px;
  opacity: 0;
  transition: all 1s ease;
  overflow: hidden;
}

.banner .sliderImage {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.btnContainer {
  position: absolute;
  left: 2em;
  bottom: 2em;
  display: flex;
  gap: 1em;
}

.btnContainer .sliderBtn {
  color: var(--black);
  background-color: var(--primary);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  padding: 1em 1.5em;
  border: 1px solid var(--primary);
  border-radius: 4px;
  cursor: pointer;
}

.btnContainer .sliderBtn img {
  height: 18px;
}

.btnContainer .sliderBtn a {
  color: var(--black);
  font-family: 'Montserrat';
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
}

.btnContainer .later,
.btnContainer .later a {
  color: var(--primary);
  background-color: var(--black);
}

.banner.activeSlide {
  opacity: 1;
  transform: translate(0, -50%);
}

.banner.nextSlide {
  opacity: 0;
  transform: translate(110%, -50%);
}

.banner.prevSlide {
  opacity: 0;
  transform: translate(-110%, -50%);
}

/* indicators */

.indContainer {
  width: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(211, 211, 211, 0.15);
  border-radius: 500px;
  padding: 0 5px;
  margin: 15px auto 30px;
}

.indicator {
  width: 7px;
  height: 7px;
  background-color: var(--grey);
  border-radius: 50%;
  margin: 3px;
  transition: all 0.4s ease;
  cursor: pointer;
}

.indicator:hover {
  background-color: var(--white);
}

.indicator.active {
  width: 15px;
  background-color: var(--white);
  border-radius: 500px;
}

/* ====================== */
/* for upto small screens */
/* ====================== */

@media (max-width: 480px) {
  .sliderContainer {
    height: 200px;
  }
  .sliderContainer .btnContainer {
    left: 1em;
    bottom: 1em;
  }
  .btnContainer .sliderBtn {
    gap: 0;
    padding: 12px 15px;
    border-radius: 10px;
  }
  .btnContainer .sliderBtn img {
    height: 12px;
  }
  .btnContainer .sliderBtn a {
    display: none;
  }
  .indContainer {
    margin: 10px auto 15px;
    transform: scale(0.9);
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .sliderContainer {
    height: 200px;
  }
  .sliderContainer .btnContainer {
    left: 1em;
    bottom: 1em;
  }
  .btnContainer .sliderBtn {
    gap: 10px;
    padding: 10px 12px;
  }
  .btnContainer .sliderBtn img {
    height: 12px;
  }
  .btnContainer .sliderBtn a {
    display: block;
    font-size: 14px;
  }
}
